#true-ans{
  background: rgba(76, 175, 80, 0.68);
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
}
#exit{
  position: absolute;
  left: 18px;
  top: 18px;
}

#false-ans{
  padding: 10px;
  text-align: justify;
  border-radius: 10px;
  background: rgb(236, 128, 79, 0.81);
}
.info-block{
  text-align: justify;
  min-height: 20.8px;
  overflow: hidden;
  order: 0;
}
.info-block-click{
  text-align: justify;
  height: auto;
  overflow: hidden;
  order: 0;
}

.title{
  text-align: justify;
  display: flex;
}

.answer{
  margin-left: 15%;
  width: 70%;
  border-radius: 10px;
}
@media (min-width: 781px) and (max-height: 430px) {
  .answer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media  (max-width: 781px) and (min-height: 256px) {
  .answer {
    margin-left: 10%;
    width: 80%;
  }
}
